body {
  background-color: darkgrey;
}

.kingInCheck {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 41, 41);
}

.highlightedLightTile {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 176, 176);
}

.highlightedDarkTile {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 137, 137);
}

.lightTile {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:burlywood;
}

.darkTile {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: sienna;
}

.box {
  display: inline-grid;
  grid-template-columns: auto 240px;
  grid-template-rows: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 85px);
  grid-template-rows: repeat(8, 85px);
}

.promotionPopup {
  z-index: 1;
  position: fixed;
  align-items: left;
  display: inline-block;
  padding-top: 255px;
}

.turn {
  font-size: 40px;
  display: table;
  height: 60px;
  width: 225px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}