body {
  background-color: darkgrey;
}

.kingInCheck, .highlightedLightTile, .highlightedDarkTile, .lightTile, .darkTile {
  width: 85px;
  height: 85px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kingInCheck {
  background-color: rgb(160, 41, 41);
}

.highlightedLightTile {
  background-color: rgb(237, 176, 176);
}

.highlightedDarkTile {
  background-color: rgb(240, 137, 137);
}

.lightTile {
  background-color:burlywood;
}

.darkTile {
  background-color: sienna;
}

.box {
  width: 100%;
  justify-content: center;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.board {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 85px);
  grid-template-rows: repeat(8, 85px);
}

.promotionPopup {
  z-index: 1;
  position: fixed;
  align-items: left;
  display: inline-block;
  padding-top: 255px;
}

.turn {
  font-size: 40px;
  height: 60px;
  width: 225px;
  border-style: solid;
  text-align: center;
  margin: auto;
}

.blackBox, .whiteBox {
  font-size: 40px;
  height: 60px;
  width: 225px;
  border-style: solid;
  text-align: center;
}

.gameEndBox {
  border-style: solid;
  background-color: beige;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-size: 60px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}